{% extends 'base.html' %}
{% load static %}

{% block title %} Báo cáo thống kê {% endblock title %}
{% block content %}

{% include 'header.html' with title="Báo cáo thống kê" %}

{% if messages %}

    {% for message in messages %}
    <div {% if message.tags %} class="alert-{{ message.tags }} alert alert-dismissible"{% endif %} role="alert">
        <div>{{ message }}</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

{% endif %}

<form action="{% url 'report-search' %}" method="GET" onsubmit="return validateForm()">
    <div class="row bg-info-subtle mt-2 pt-2 fs-6 fw-bolder rounded-top">
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            <label for="search-report-select" class="form-label">Bộ lọc</label>
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            <label class="form-label">Chọn ngày bắt đầu</label>
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            <label class="form-label">Chọn ngày kết thúc</label>
        </div>
    </div>
    <div class="row bg-info-subtle pb-2 fs-6 rounded-bottom">
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            <select type="text" class="form-select form-select-sm" name="q" id="search-report-select">
                {% if request.user.user_type == '2' %}
                    <option value="{{request.user.staff.cangca.ID}}">{{request.user.staff.cangca.Ten}}</option>
                {% else %}
                {% for i in fishing_port %}
                    <option value="{{i.ID}}">{{i.Ten}}</option>
                {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            <input type="date" value="2020-01-01" class="form-control col" name="start-date" id="start-date-report">
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            <input type="date" value="2024-01-01" class="form-control col" name="end-date" id="end-date-report">
        </div>
        <div class="col-1 col-sm-2 col-md-1 col-lg-1 col-xl-1 col-xxl-1" style="width: max-content;">
            <button type="submit" class="btn btn-dark rounded">
                <i class="fa-brands fa-searchengin"></i>
                <span class='ms-1 fs-6'>Tìm kiếm</span>
            </button>
        </div>
        <div class="col-1 col-sm-2 col-md-1 col-lg-1 col-xl-1 col-xxl-1" style="width: max-content;">
            <!-- <button class="btn btn-info rounded">
                <i class="fa-solid fa-eye"></i>
                <span class='ms-1 fs-6'>Xem trước báo cáo</span>
            </button> -->
        </div>
    </div>
</form>

<div class="row bg-info-subtle rounded p-2 mt-2 fs-6" style="height: 75vh;overflow-y: hidden;">
    <div class="col-3 text-white rounded p-3" style="background-color: #5F5D9C;height: 100%;">
        <strong>Thông tin cơ bản trong 24h qua</strong>
        {% if request.user.user_type == '1' or request.user.is_staff %}
        <!-- <div>
            <strong>Cảng cá: Quy Nhơn</strong>
            <ul class="mt-2 fs-6">
                <li>Tàu vào: 512 tàu cập cảng</li>
                <li>Tàu ra: 123 tàu xuất bến</li>
                <li>Tổng khối lượng chuyển tải: 756 tấn cá</li>
                <li>Loài cá được đánh bắt nhiều nhất: Cá ngừ vây vàng</li>
            </ul>
        </div> -->
        <!-- <div>
            <strong>Cảng cá: Đề Gi</strong>
            <ul class="mt-2 fs-6">
                <li>Tàu vào: 512 tàu cập cảng</li>
                <li>Tàu ra: 123 tàu xuất bến</li>
                <li>Tổng khối lượng chuyển tải: 756 tấn cá</li>
                <li>Loài cá được đánh bắt nhiều nhất: Cá ngừ vây vàng</li>
            </ul>
        </div> -->
        <div>
            <strong>Toàn bộ cảng cá: </strong>
            <ul class="mt-2 fs-6">
                <li>Tổng số tàu: {{total_ship}}</li>
                <li>Tàu vào: {{total_ship_anchor}} tàu cập cảng</li>
                <li>Tàu ra: {{total_ship_active}} tàu xuất bến</li>
                <li>Tổng khối lượng chuyển tải: {{total_qty}} kg cá</li>
                <!-- <li>Loài cá được đánh bắt nhiều nhất: Cá ngừ vây vàng</li> -->
            </ul>
        </div>
        {% endif %}

        {% if request.user.user_type == '2' %}
        <div>
            <strong>Cảng cá: {{request.user.staff.cangca.Ten}}</strong>
            <ul class="mt-2 fs-6">
                <li>Tàu vào: 512 tàu cập cảng</li>
                <li>Tàu ra: 123 tàu xuất bến</li>
                <li>Tổng khối lượng chuyển tải: 756 tấn cá</li>
                <li>Loài cá được đánh bắt nhiều nhất: Cá ngừ vây vàng</li>
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="col-5" style="height: 100%;">
        <canvas id="reportChart" style="width: 100%;height: 100%;"></canvas>
    </div>
    <div class="col-4" style="height: 100%;">
        <table class="table table-hover shadow" style="overflow-y: auto;">
            <caption class="text-center caption-top fw-bolder">Tổng sản lượng các loại cá đánh bắt được trong 24h</caption>
            <thead>
                <tr>
                    {% for title in titles %}
                        <th class="bg-primary text-white text-center fw-semi" {% if forloop.first %}style="border-top-left-radius: 6px;"{% endif %} {% if forloop.last %}style="border-top-right-radius: 6px;"{% endif %} scope="col">
                            {{title}}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% with start_number=start_number %}
                {% for item in items %}
                    {% if forloop.counter|divisibleby:2 %}
                        <tr class="fs-6 bg-info-subtle">
                            <th class="bg-info-subtle text-dark text-center fw-semi" scope="row">
                                {{forloop.counter|add:start_number}}
                            </th>
                            <td class="bg-info-subtle text-dark text-center">
                                {{item.IDLoaiCa__Ten}}
                            </td>
                            <td class="bg-info-subtle text-dark text-center">
                                {{item.tong_san_luong}}
                            </td>
                        </tr>
                    {% else %}
                        <tr class="fs-6 bg-light">
                            <th class="bg-light text-dark text-center fw-semi" scope="row">
                                {{forloop.counter|add:start_number}}
                            </th>
                            <td class="bg-light text-dark text-center">
                                {{item.IDLoaiCa__Ten}}
                            </td>
                            <td class="bg-light text-dark text-center">
                                {{item.tong_san_luong}}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% endwith %}
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center" style="margin-bottom: 0.5rem;">
                {% if items.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}">Previous</a></li>
                {% endif %}

                {% for num in page_range %}
                    <li class="page-item {% if num == items.number %}active{% endif %}"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endfor %}
        
                {% if items.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ items.paginator.num_pages }}">Last &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // Validation trước khi submit form
    function validateForm() {
        let startDate = new Date(document.getElementById('start-date-report').value);
        let endDate = new Date(document.getElementById('end-date-report').value);
        let today = new Date();

        if (endDate > today) {
            alert("Ngày kết thúc không được phép là ngày trong tương lai!");
            return false;
        }

        if (startDate >= endDate) {
            alert("Ngày bắt đầu phải nhỏ hơn ngày kết thúc!");
            return false; 
        }

        return true;
    }

</script>

<script>
    const urlOrigin = window.location.origin;
    fetch(`${urlOrigin}/report/top-10-fishing-qty-on-24h/`)
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        // console.log(data);
        const bundles = data.bundles;
        // console.log(bundles);
        const labels = [];
        const qty = [];
        bundles.forEach(item => {
            // console.log(item.fish_name);
            labels.push(item.fish_name);
            // console.log(item.qty);
            qty.push(parseFloat(item.qty));
        });

        const ctx = document.getElementById('reportChart');
  
        let reportChart = new Chart(ctx, {
            type: 'bar',
            data: {
            labels: labels,
            datasets: [{
                label: 'Top 10 loại cá đánh bắt nhiều nhất trong 24h',
                data: qty,
                borderWidth: 1
            }]
            },
            options: {
            scales: {
                y: {
                beginAtZero: true
                }
            }
            }
        });
    })
    .catch(error => {
        console.error('There was a problem with your fetch operation: ', error);
    });

  </script>
{% endblock content %}

