{% extends 'base.html' %}
{% load static %}

{% block title %} Thay đổi mật khẩu {% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'assets/css/password.css' %}">


<form method="POST" onsubmit="return validateForm()">
    {% csrf_token %}


{% if messages %}

    {% for message in messages %}
    <div {% if message.tags %} class="alert-{{ message.tags }} alert alert-dismissible"{% endif %} role="alert">
        <div>{{ message }}</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

{% endif %}


<div class="row mt-1 mb-2">
    <div class="d-flex align-items-center justify-content-between">
        <a href="{% url 'index' %}" class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i></a>
        <h3 class="fs-5 fw-bolder text-capitalize" style="color: #0B60B0;">
            Thay đổi mật khẩu
        </h3>
    </div>
</div>

<hr class="text-dark" />
<div class="bg-info-subtle rounded p-3">
    <div class="row">
        <div class="col mb-2">
            <label for="firstName" class="form-label">Họ*</label>
            <input name="firstName" id="firstName" value="{{request.user.first_name}}" type="text" class="form-control" disabled>
        </div>
        <div class="col mb-2">
            <label for="lastName" class="form-label">Tên*</label>
            <input name="lastName" id="lastName" value="{{request.user.last_name}}" type="text" class="form-control" disabled>
        </div>
        <div class="col mb-2">
            <label for="levelManager" class="form-label">Level*</label>
            <select name="levelManager" id="levelManager" class="form-select" disabled>
                {% if request.user.user_type == '1' %}
                <option value="1">Chi cục thủy sản</option>
                {% elif request.user.user_type == '2' %}
                <option value="2">Quản lý cảng</option>
                {% else %}
                <option value="3">Nhà cung cấp thiết bị</option>
                {% endif %}
            </select>
        </div>
        <div class="col mb-2">
            <label for="username" class="form-label">Tên tài khoản*</label>
            <input name="username" id="username" value="{{request.user.username}}" type="text" class="form-control" disabled>
        </div>
    </div>

    <div class="row">
        <div class="col mb-2 col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
            <label for="password" class="form-label">Mật khẩu mới*</label>
            <div class="form-control d-flex" style="box-sizing: border-box;">
                <input name="password" id="password" type="password" style="width: 90%;border: none;outline: none;" required>
                <img src="{% static 'assets/imgs/eye-close.png' %}" style="width: 30px;;cursor: pointer;" alt="eye" id="eyeicon">
            </div>
        </div>
        <div class="col mb-2 col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
            <label for="confirm-password" class="form-label">Xác nhận mật khẩu*</label>
            <div class="form-control d-flex" style="box-sizing: border-box;">
                <input name="confirm-password" id="confirm-password" type="password" style="width: 90%;border: none;outline: none;" required>
                <img src="{% static 'assets/imgs/eye-close.png' %}" style="width: 30px;;cursor: pointer;" alt="eye" id="eyeicon2">
            </div>
        </div>
        <div class="col mb-2 col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
            <label for="email" class="form-label">Email*</label>
            <input name="email" id="email" type="text" value="{{request.user.email}}" class="form-control" disabled>
        </div>
        <div id="additionalField" class="col mb-2 col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 d-none">
            {% if request.user.staff.cangca %}
            <label for="tenCangCa" class="form-label">Cảng cá quản lý*</label>
            <!-- <p>{{user.staff.cangca.ID}}</p> -->
            <select name="tenCangCa" id="tenCangCa" class="form-select">
                <option value="{{request.user.staff.cangca.ID}}">{{request.user.staff.cangca.Ten}}</option>

            </select>
            {% endif %}
        </div>
    </div>
</div>

<div class="rounded mt-3">
    <div class="row">
        <div class="col">
            <a href="{% url 'index' %}" class="btn btn-dark">Hủy</a>
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
    </div>
</div>

</form>

<script>
    function validateForm() {
        let password = document.getElementById('password').value;
        let confirmPassword = document.getElementById('confirm-password').value;
        if (password === confirmPassword) {
            return true;
        }
        alert('Password và Confirm-Password phải giống nhau!!');
        return false;
    }
</script>


<!-- <div class="input-box">
    <input type="password" placeholder="password" id="password-test">
    <img src="assets/imgs/eye-close.png" alt="eye" id="eyeicon">
</div> -->

<script>

    let eyeicon = document.getElementById('eyeicon');
    let eyeicon2 = document.getElementById('eyeicon2');
    let password = document.getElementById('password');
    let confirmPassword = document.getElementById('confirm-password');

    eyeicon.onclick = function() {
        if (password.type == 'password') {
            password.type = 'text';
            eyeicon.src = "/static/assets/imgs/eye-open.png";
        } else {
            password.type = 'password';
            eyeicon.src = "/static/assets/imgs/eye-close.png";
        }
    }

    eyeicon2.onclick = function() {
        if (confirmPassword.type == 'password') {
            confirmPassword.type = 'text';
            confirmPassword.src = "/static/assets/imgs/eye-open.png";
        } else {
            confirmPassword.type = 'password';
            confirmPassword.src = "/static/assets/imgs/eye-close.png";
        }
    }


</script>

{% endblock %}
